*{
    box-sizing: border-box;
}
body{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: honeydew;
    min-height: 100vh;
}
.container{
    background-color: cornsilk;
    border-radius: 5px;
    
    width: 400px;
    max-width: 100%;

}
form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    text-align: left;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    
}
.form-control input{
    border: 2px solid #0f1213;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}

.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
   visibility: hidden;
}
.form button{
   
    border:2px solid #0d1330;
    color: black;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
h1{
    width: 100%;
    background-color:#cff0dd;
    
    margin-top: 0%;
    border-radius: 5px 5px 0 0;
    height: 10vh;
    padding-top: 10px;
    color: black;
}

